#navbar{
    flex-direction: column;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem ;
    overflow: hidden;
    height: 90px;
    background-color:black;
    image-rendering: auto;
}
#navbar ul li a:hover{
    background-color: black;
    color: white;
}
#training .items{
    flex-direction: column;
    width: 100%;
}
.btn-primary{
    background-color: black;
}
.heading-small{
    font-size: 1.25rem;
    padding: 0.5rem;
}